name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Build and Test
        run: dotnet fsi build.fsx -- -p build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: plugin
          path: bin/*.streamDeckPlugin
